@import "stylesheets/font"

@import "bootstrap"

@media print
  .col-print-full
    flex: 0 0 100%
    max-width: 100%
  .col-print-none
    flex: 0 0 0%
    max-width: 0%
    display: none

header
  position: sticky
  top: 0
  z-index: 100

a, .btn-link
  text-decoration: none
  &:hover
    text-decoration: underline

pre.mail-body
  font-size: 1rem

textarea.form-control.scroll-y
  overflow-y: scroll

pre.line-76-80
  position: relative
  &::after
    display: block
    position: absolute
    top: 0
    margin-left: 38rem
    content: "<76 <80"
    color: $gray-400
    border-left: dashed 1px $gray-400
    border-right: solid 1px $gray-400
    width: 2rem
    height: 100%
    z-index: 1
