# MySQL
default: &default
  adapter: trilogy
  encoding: utf8mb4
  max_connections: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= (Rails.application.credentials.dig(:database, :username) || Settings.database.username).to_json %>
  password: <%= (Rails.application.credentials.dig(:database, :password) || Settings.database.password).to_json %>
  host: <%= Settings.database.host.to_json %>

development:
  <<: *default
  database: <%= (Settings.database.database || 'ikamail_development').to_json %>

test:
  <<: *default
  database: ikamail_test

production:
  <<: *default
  database: <%= (Settings.database.database || 'ikamail').to_json %>
