<%
require "uri"

def add_suffix(path, suffix)
  if path.end_with?(".sqlite3")
    base = path.delete_suffix(".sqlite3")
    "#{base}_#{suffix}.sqlite3"
  else
    "#{path}_#{suffix}"
  end
end

db_url = ENV["DATABASE_URL"]&.then { |str| URI(str) }

db_adapter = db_url&.scheme || ENV["RAILS_DATABASE_ADAPTER"] || Settings.database&.adapter || "trilogy"
db_adapter =  ActiveRecord.protocol_adapters[db_adapter] || db_adapter

db_host = ENV["DB_HOST"] || Settings.database&.host || "localhost"

db_development_database =
  if db_adapter == "sqlite3"
    "storage/development.sqlite3"
  else
    "ikamail_development"
  end
db_test_database =
  if db_adapter == "sqlite3"
    "storage/test.sqlite3"
  else
    "ikamail_test"
  end
db_production_database = db_url&.path&.sub(%r{^/}, "") || Settings.database&.database ||
  if db_adapter == "sqlite3"
    "storage/production.sqlite3"
  else
    "ikamail_production"
  end
db_cache_database = Settings.database&.cache_database || add_suffix(db_production_database, "cache")
db_queue_database = Settings.database&.queue_database || add_suffix(db_production_database, "queue")
db_cable_database = Settings.database&.cable_database || add_suffix(db_production_database, "cable")

# production only
db_username = Rails.application.credentials.dig(:database, :username) || "ikamail"
db_password = ENV["IKAMAIL_DATABASE_PASSWORD"].presence || Rails.application.credentials.dig(:database, :password)
db_in_memory = ENV.fetch("RAILS_DATABESE_IN_MEMORY", Settings.database&.in_memory || "solid")
%>

default: &default
  adapter: <%= db_adapter %>
  max_connections: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
<% case db_adapter
   in "trilogy" | "mysql2" %>
  encoding: utf8mb4
  username: root
  password:
  host: <%= db_host %>
<% in "postgresql" %>
  encoding: unicode
  host: <%= db_host %>
<% in "sqlite3" %>
  timeout: 5000
<% end %>

development:
  <<: *default
  database: <%= db_development_database %>

test:
  <<: *default
  database: <%= db_test_database %>

<% if db_in_memory == "solid" %>
production:
  primary: &primary_production
    <<: *default
    database: <%= db_production_database %>
    username: <%= db_username.to_json %>
    password: <%= db_password.to_json %>
  cache:
    <<: *primary_production
    database: <%= db_cache_database %>
    migrations_paths: db/cache_migrate
  queue:
    <<: *primary_production
    database: <%= db_queue_database %>
    migrations_paths: db/queue_migrate
  cable:
    <<: *primary_production
    database: <%= db_cable_database %>
    migrations_paths: db/cable_migrate
<% else %>
production:
  <<: *default
  database: <%= db_production_database %>
  username: <%= db_username.to_json %>
  password: <%= db_password.to_json %>
<% end %>
