## LDAP
# This is a sample "ldap_production.yml" for production environment.
# You must rename it to "ldap_production.yml" and change values.
ldap:
  # LDAP Server Host
  host: ldap.emaxple.jp
  # LDAP Server Port
  port: 636
  # LDAP Server Encription: null or :start_tls or :simple_tls
  encryption: simple_tls
  # LDAP Base
  base: dc=example,dc=jp
  # LDAP Authentication: null(:anonymouse) or :simple
  auth: :sipmle
  # If you set 'auth' to :simple, you must set ldap's username and password: in credentials.
  # username: {{credentials ldap->username}}
  # password: {{credentials ldap->password}}
  # LDAP User
  user:
    dn: uid
    base: ou=Users
    class: posixAccount
  # LDAP Group
  group:
    dn: cn
    base: ou=Groups
    class: posixGroup
  restrict:
    auth:
      # Authenticatable Groups
      groups:
        - admin
        - staff
