ldap:
  user:
    dn: uid
    ou: ou=people
    classes:
      - posixAccount
  group:
    dn: cn
    ou: ou=groups
    classes:
      - posixGroup
  restrict:
    auth:
      groups:
        - admin
        - staff
mailer:
  options:
    from: no-reply@example.jp
  url_options:
    host: ikamail.example.jp
admin:
  username: admin
  fullname: 管理者
  email: admin@example.jp
