@import "font"

@import "bootstrap/scss/bootstrap"
@import "rails_bootstrap_forms"

// rails

form.button_to
  display: inline-block

// dummy backgroud image bootstrap icons
#dummy-bootstrap-icons
  backgroupd-image: asset-url("bootstrap-icons/bootstrap-icons.svg")

header
  position: sticky
  top: 0
  z-index: 100

a, .btn-link
  text-decoration: none
  &:hover
    text-decoration: underline

pre.mail-body
  font-size: 1rem

textarea.form-control.scroll-y
  overflow-y: scroll

pre.line-76-80
  position: relative
  &::after
    display: block
    position: absolute
    top: 0
    margin-left: 38rem
    content: "<76 <80"
    color: $gray-400
    border-left: dashed 1px $gray-400
    border-right: solid 1px $gray-400
    width: 2rem
    height: 100%
    z-index: 1
