[Unit]
Description=ikamail - Ikkatsu Mail System Web App
Documentation=https://github.com/kue-ipc/ikamail
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/ikamail
User=$IKAMAIL_USER
Group=$IKAMAIL_GROUP
ExecStart=/usr/bin/scl enable $SCLS -- $IKAMAIL_ROOT/scripts/start
ExecReload=/usr/bin/scl enable $SCLS -- $IKAMAIL_ROOT/scripts/reload
ExecStop=/usr/bin/scl enable $SCLS -- $IKAMAIL_ROOT/scripts/start

[Install]
WantedBy=multi-user.target
