name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  scan_ruby:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"
          bundler-cache: true

      - name: Scan for common Rails security vulnerabilities using static analysis
        run: bin/brakeman --no-pager

      - name: Scan for known security vulnerabilities in gems used
        run: bin/bundler-audit

  lint:
    runs-on: ubuntu-latest
    env:
      RUBOCOP_CACHE_ROOT: tmp/rubocop
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"
          bundler-cache: true

      - name: Prepare RuboCop cache
        uses: actions/cache@v5
        env:
          DEPENDENCIES_HASH: ${{ hashFiles('.ruby-version', '**/.rubocop.yml', '**/.rubocop_todo.yml', 'Gemfile.lock') }}
        with:
          path: ${{ env.RUBOCOP_CACHE_ROOT }}
          key: rubocop-${{ runner.os }}-${{ env.DEPENDENCIES_HASH }}-${{ github.ref_name == github.event.repository.default_branch && github.run_id || 'default' }}
          restore-keys: |
            rubocop-${{ runner.os }}-${{ env.DEPENDENCIES_HASH }}-

      - name: Lint code for consistent style
        run: bin/rubocop -f github

  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby-version: ["3.3", "3.4", "4.0"]
        node-version: ["22"] # "24"
        mariadb-version: ["10.11"] # "11.4", "11.8", "12.1"
        include:
          # other version node
          - {ruby-version: "3.3", node-version: "24", mariadb-version: "10.11"}
          # other version mariadb
          - {ruby-version: "3.3", node-version: "22", mariadb-version: "11.4"}
          - {ruby-version: "3.3", node-version: "22", mariadb-version: "11.8"}
          - {ruby-version: "3.3", node-version: "22", mariadb-version: "12.1"}
          # all latest
          - {ruby-version: "4.0", node-version: "24", mariadb-version: "12.1"}
    services:
      mariadb:
        image: mariadb:${{ matrix.mariadb-version }}
        env:
          MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: true
        ports:
          - 3306:3306

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn

      - name: Run tests
        env:
          RAILS_ENV: test
        run: bin/rails db:test:prepare test

  # system-test:
  #   runs-on: ubuntu-latest

  #   # services:

  #     # redis:
  #     #   image: valkey/valkey:8
  #     #   ports:
  #     #     - 6379:6379
  #     #   options: --health-cmd "redis-cli ping" --health-interval 10s --health-timeout 5s --health-retries 5

  #   steps:
  #     - name: Install packages
  #       run: sudo apt-get update && sudo apt-get install --no-install-recommends -y node-gyp

  #     - name: Checkout code
  #       uses: actions/checkout@v6

  #     - name: Set up Ruby
  #       uses: ruby/setup-ruby@v1
  #       with:
  #         bundler-cache: true

  #     - name: Run System Tests
  #       env:
  #         RAILS_ENV: test
  #         # RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}
  #         # REDIS_URL: redis://localhost:6379/0
  #       run: bin/rails db:test:prepare test:system

  #     - name: Keep screenshots from failed system tests
  #       uses: actions/upload-artifact@v6
  #       if: failure()
  #       with:
  #         name: screenshots
  #         path: ${{ github.workspace }}/tmp/screenshots
  #         if-no-files-found: ignore

  test-postgresql:
    runs-on: ubuntu-latest

    env:
      RAILS_DATABASE_ADAPTER: postgresql
      BUNDLE_WITH: postgresql
      BUNDLE_WITHOUT: mariadb

    strategy:
      matrix:
        ruby-version: ["3.3"]
        node-version: ["22"]

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
        ports:
          - 5432:5432
        options: --health-cmd="pg_isready" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn

      - name: Run tests
        env:
          RAILS_ENV: test
        run: bin/rails db:test:prepare test

  test-sqlite3:
    runs-on: ubuntu-latest

    env:
      RAILS_DATABASE_ADAPTER: sqlite3
      BUNDLE_WITH: sqlite3
      BUNDLE_WITHOUT: mariadb

    strategy:
      matrix:
        ruby-version: ["3.3"]
        node-version: ["22"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn

      - name: Run tests
        env:
          RAILS_ENV: test
        run: bin/rails db:test:prepare test

  # test-redis-production:
  #   runs-on: ubuntu-latest

  #   services:
  #     mariadb:
  #       image: mariadb
  #       env:
  #         MARIADB_ROOT_PASSWORD: rootpass
  #         MARIADB_USER: ikamail
  #         MARIADB_PASSWORD: password
  #         MARIADB_DATABASE: ikamail
  #       ports:
  #         - 3306:3306
  #       options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

  #     redis:
  #       image: valkey/valkey:8
  #       ports:
  #         - 6379:6379
  #       options: --health-cmd "redis-cli ping" --health-interval 10s --health-timeout 5s --health-retries 5

  #   steps:
  #     - name: Install packages
  #       run: sudo apt-get update && sudo apt-get install --no-install-recommends -y node-gyp

  #     - name: Checkout code
  #       uses: actions/checkout@v6

  #     - name: Set up Ruby
  #       uses: ruby/setup-ruby@v1
  #       with:
  #         bundler-cache: true

  #     - name: Run db migrate
  #       env:
  #         RAILS_ENV: production
  #         RAILS_CACHE_STORE: redis
  #         RAILS_QUEUE_ADAPTER: resque
  #         RAILS_CABLE_ADAPTER: redis
  #         # RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}
  #         # REDIS_URL: redis://localhost:6379/0
  #         IKAMAIL_DATABASE_PASSWORD: password
  #       run: bin/rails db:migrate
